/* Farben:
schwarz: #000;
hellblau: #CFF; // background
blau: #369;
*/

/* border:solid black 1px;*/

body{
color:#000;
background-color:#CFF;
min-width:740px;
margin-top:50px;
margin-left:80px;
padding:0;
font-size:1.0em;
font-family:Helvetica, Arial, sans-serif;
font-weight:bold;
letter-spacing:0.0em;
line-height:1.5em;
}

img{

}

a{
color:#C00;
background-color:#CFF;
text-decoration:none;
font-weight:bold;
}

a:link{color:#C00;background-color:#CFF;}
a:hover{color:#369;background-color:#CFF;}
a:active{color:#369;background-color:#CFF;}


.kartenFont{
color:#000;
background-color:#FFF;
}

/**************** Start *******************/
.indexlogo{
font-size:2.0em;
color:#369;
text-align:center;
background-color:#CFF;
padding-bottom:30px;
}

.imgcentral{
padding-top:50px;
text-align:center;
padding-bottom:50px;
}

.enter{
color:#C00;
background-color:#CFF;
font-weight:bold;
line-height:2em;
text-align:center;
}

/**************** Ende Start *******************/
#logo{
float:left;
margin-top:0px;
font-size:2.0em;
color:#369;
text-align:left;
background-color:#CFF;
margin-bottom:60px;
margin-right:50px;
/*border:solid black 1px;*/
}


#userThemeChoiceForm{
	padding-top:10px;
	margin-left:50px;
}


.blau{
color:#369;
background-color:#CFF;
}

.schwarz{
color:#000;
background-color:#CFF;
}

.fett{
font-weight:bold;
}

.kleiner{
font-size:smaller;
}

.mitte{
text-align:center;
}

.rechts{
text-align:right;
}



/**************** Vokabeln editieren *******************/

#wordlist{
	border:1px solid black;
	border-collapse: collapse;
}

#wordlist th, td{
	text-align:left;
	padding:3px;
}

#wordlist td{
	font-weight: normal;
}


