<div class="indexlogo">Willkommen bei Fionas Memory!</div>

<div class="imgcentral">
	<!--<t:pagelink t:page="CardLayout"><img src="bilder/deckblatt-blau-index.jpg" /></t:pagelink>-->
	<a href="/cardlayout"><img src="images/deckblatt-blau-index.jpg" /></a>
</div>

<div class="enter">
	<%= link_to "[enter]", cardlayout_path %>
</div>
